@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Barlow Condensed', sans-serif;
  --ff-secondary: 'Barlow', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-08: 0.5em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-60: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-red: hsl(0, 100%, 68%);
  --clr-light-red: hsl(0, 95%, 77%);
  --clr-very-dark-blue: hsl(230, 29%, 20%);
  --clr-dark-grayish-blue: hsl(230, 11%, 40%);
  --clr-grayish-blue: hsl(231, 7%, 65%);
  --clr-light-grayish-blue: hsl(207, 33%, 95%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  color: var(--clr-very-dark-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-18);
  line-height: 1.4;
}

img {
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */

.nav-list {
  list-style-type: none;
}

.nav-link {
  color: inherit;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
}

.nav-link--accent {
  color: var(--clr-grayish-blue);
  letter-spacing: 2px;
}

.subtitle {
  color: var(--clr-grayish-blue);
  font-size: var(--fs-16);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.subtitle > span {
  background-color: var(--clr-very-dark-blue);
  border-radius: 0.75em;
  color: var(--clr-white);
  font-weight: var(--fw-regular);
  letter-spacing: 1px;
  padding: 0.3em 0.6em;
}

.title {
  font-size: var(--fs-40);
  line-height: 1;
  text-transform: uppercase;
}

.text {
  color: var(--clr-dark-grayish-blue);
  font-family: var(--ff-secondary);
}

.button-text-companion {
  color: var(--clr-grayish-blue);
  display: inline-block;
  font-size: var(--fs-13);
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  background-color: var(--clr-red);
  border: none;
  border-radius: 0.25em;
  color: var(--clr-white);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-14);
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-light-red);
}

/* ================== */
/* Utility styles */
/* ================== */

.container::before {
  display: block;
  content: '';
  background-color: var(--clr-light-grayish-blue);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;

  border-radius: 0 0 0 3em;
  height: 420px;
  z-index: -1;
}

.container {
  margin: 2em auto 0.5em;
  max-width: 450px;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* HEADER */
.header {
  /* Flex properties */
  display: flex;

  padding: 0 1.5em;
  position: relative;
}

.logo {
  margin-top: 0.3em;
}

.nav {
  /* Flex properties */
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--clr-white);
  position: fixed;
  top: -500px;
  right: 30px;
  left: 30px;

  border-radius: 0.25em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 4px 4px -1px;
  height: 42%;
  margin: 0 auto;
  width: 80%;
  max-width: 410px;
  z-index: 10;

  transform: translateY(0%);
  transition: transform 350ms;
}

.navigation-open {
  transform: translateY(600px);
}

.nav-list {
  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  padding: 1em 0;
}

.nav-item {
  margin: 0.5em auto;
  padding: 0.5em 0;
}

.nav-item:nth-of-type(3) {
  /* Flex properties */
  display: flex;
  justify-content: center;

  border-bottom: 2px solid var(--clr-light-grayish-blue);
  padding-bottom: 1em;
  width: 80%;
}

.close-nav {
  background: var(--clr-light-grayish-blue);
  border: 0;
  cursor: pointer;
  padding: 0.25em;
  position: absolute;

  top: -55px;
  right: -10px;
}
.open-nav {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-left: auto;
}

/* MAIN */

.main {
  /* Flex properties */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.picture {
  position: relative;
  left: 10px;
  padding-top: 40px;
  width: 135%;
}

.copy {
  order: 1;
  margin-top: 4.5em;
  padding: 0 1.5em;
}

.title {
  margin-top: 0.6em;
}

.text {
  margin-top: 0.75em;
  width: 90%;
}

.button-area {
  /* Flex properties */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;

  margin-top: 1.5em;
}

/* FOOTER */

.footer {
  margin-top: 4em;
  padding: 0.25em 0 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ipad */
@media (min-height: 700px) and (max-width: 1000px) {
  .container::before {
    display: block;
    content: '';
    background-color: var(--clr-light-grayish-blue);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;

    border-radius: 0 0 0 3em;
    height: 460px;
    z-index: -1;
  }

  .nav {
    height: 275px;
  }

  .close-nav {
    right: 5px;
  }

  .button-area {
    gap: 3em;
  }
}

/* desktop  */
@media (min-height: 500px) and (min-width: 1001px) {
  body {
    overflow: hidden;
  }
  .container {
    margin: 1em auto 0.5em;
    max-width: unset;
    width: 90%;
  }

  .container::before {
    width: 50%;
  }

  .header {
    /* Flex properties */
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav {
    /* Flex properties */
    display: flex;
    justify-content: flex-end;

    background: unset;
    box-shadow: unset;
    height: unset;
    position: initial;
    width: 100%;
    max-width: unset;
  }

  .nav-list {
    /* Flex properties */
    flex-direction: row;
    justify-content: flex-end;

    width: 40%;
  }

  .nav-link {
    font-size: var(--fs-16);
  }

  .nav-item:nth-of-type(3) {
    border: 0;
    padding: 0;
    width: unset;
  }

  .open-nav {
    display: none;
  }

  .close-nav {
    display: none;
  }

  .main {
    /* Flex properties */
    flex-direction: row;

    overflow: visible;
    margin-top: 3em;
  }

  .copy {
    order: 0;
    margin: 0;
    margin-top: unset;
    padding: 2em 4em 0 0;
    width: 50%;
  }

  .title {
    font-size: var(--fs-60);
    margin-top: 0.5em;
    max-width: 85%;
  }

  .text {
    width: 55%;
  }

  .button-area {
    margin-top: 3em;
  }

  .btn {
    font-size: var(--fs-16);
  }

  .picture {
    left: unset;
    padding: 0;
    width: 50%;
  }

  .picture-img {
    position: absolute;
    left: 120px;
    top: 75px;
    transform: scale(1.8);
  }

  .footer {
    bottom: 0;
    padding: 0.5em 0;
    position: absolute;
    width: 100%;
  }
}

@media (min-height: 500px) and (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
  .main {
    margin-top: 5em;
  }
  .picture-img {
    position: absolute;
    top: 75px;
    left: 175px;
    transform: scale(1.5);
  }

  .copy {
    padding-top: 4em;
  }

  .title {
    font-size: var(--fs-72);
    max-width: 100%;
    margin-top: 0.25em;
  }
}
